@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap');

:root{
    --text_white: #fff;
    --text_red: #9B2226;
    --text_yellow: #FCFC62;
    --nav_background: hsla(340, 23%, 3%, 0.2);
    --text-grey:rgba(255, 255, 255, 0.5);
    --text-dark-grey: rgba(30, 26, 29, 0.7);
    --cool_white:rgb(216, 208, 208);

    --grey_background: hsla(0, 0%, 95%, 1);


    --bigest-font-size: 2.5rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --big_font: 2rem;
    --text_size: 20px;

    --padding_small:1rem;
    --padding_medium:2rem;

    --card_height:400px;
    --card_width: 360px;

    --gap: 2rem;
    --margin_big: 3rem;
}
html, body{
    font-family: Roboto;
    
}

li{
    list-style-type: none;
}

section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.navbar{
    background: var(--nav_background);
}
.nav_style
{
    font-family: Roboto;
    font-size: 1.5rem;
   
}
.nav-link, .navbar-brand{
    color: var(--text_white) !important;
}

.navbar-brand{
    font-size: var(--big_font);
    font-weight: 900;
}
.navbar_list{
    color: var(--text_white);
}

.logo{
    color: var(--text_red);
    font-size: var(--big_font);
    font-weight: 900;
}
.home_bg{
    background-image: url(./assets/background.jpg) !important;
    background: rgba(155, 34, 38, 0.4);
    background-blend-mode: overlay;
}

.home{
    width:100%;
    height: 70vh;
    color: var(--text_white);
}

.home_btn{
    background-color: var(--text_yellow);
    padding: var(--padding_small);
    box-shadow: rgb(0, 0, 0) 5px 5px, rgb(0, 0, 0) 10px 10px, rgb(0, 0, 0) 15px 15px;
    font-weight: 700;
    color: var(--text_red);
}

.home_content{
    text-align: center;
    height: fit-content;
    position: relative;
    top: 30%;
}

.header_color{
    color: var(--text_red);
}

.home_subhead{
    padding: var(--padding_medium);
}
.offer_heading{
    font-family: "PT Serif";
}
.offer_text{
    width: 100%;
    font-size: var(--text_size);
    color: var(--text-dark-grey);
}

.img_round{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card_container{
    row-gap: 2rem ;
    column-gap: 5rem;
    margin-top: var(--margin_big);
    margin-bottom: var(--margin_big);
}

.div_card{
    height: var(--card_width);
    width: var(--card_width);
    background: #FDFCFC;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), inset 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: var(--text_size);
    color: rgba(0, 0, 0, 0.7);
}

.pic_flex{
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.home-testimonial{
    background-color: var(--text_red);
    height: 380px
}

.home-testimonial-bottom{
    background-color: #f8f8f8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px
}
.home-testimonial h3{
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}
.home-testimonial h2{
    color: white;
    font-size: 28px;
    font-weight: 700
}

.testimonial-inner{
    position: relative;
    top: -174px
}

.testimonial-pos{
    position: relative;
    top: 24px
}

.testimonial-inner .tour-desc{
    border-radius: 5px;
    padding: 40px
}

.color-grey-3{font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.testimonial-inner img.tm-people{width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}
.link-name{
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        color: #6c83a2
}

.link-position{
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;color: #6c83a2
}

.review_text{
    color: var(--text_white);
}

.partner{
    margin-top: 40rem;
}

.partner_block{
    background: var(--grey_background);
}

.project_nav{
    border-bottom: 4px solid var(--text-dark-grey);
}
.project_menu{
    color: var(--text-dark-grey);
    background-color: var(--grey_background);
}

/* .team_container{
    margin-top: 10rem !important;
} */
/* .team_card_container{
    display: flex;

} */

.team_card{
    font-weight: 700;
    height: 468px;
    width: 388px;
    padding: var(--padding_medium);
}

.team_card_sub{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social_icon{
    font-size: 24px;
}
.about_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--gap);
    column-gap: var(--gap);
    justify-content: space-between;
}
.about_img{
    display: none;
    height: 536px;
    width: 100%
}


.about_text{
    color: var(--text-dark-grey);
}

.contact{
    background-color: var(--grey_background);
    margin-bottom: 0;
}

.contact_input{
    height: 3.5rem;
    border-radius: 2rem;
    border: 2px solid #D5D5D5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#input_text{
    height: 18rem;
}

.contact_input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(30, 26, 29, 0.5);
}


.awards{
    margin-top: 7rem !important;
}

.award_img{
    width:100%;
    height: 248px;
}
.award_heading{
    border-bottom: 5px solid var(--text_red)
}

.past_img{
    width: 100%;
}

.contact_img{
    display: none;
}
footer{
    color: var(--cool_white);
    background: #212121;
}

.subscribe{
    color: var(--text-grey);
}

.subscribe_btn{
    border-radius: 1rem;
}
    

@media only screen and (min-width: 547px) {

    .pic_flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .about_img{
        display: none;
        height: 536px;
        width: 100%
    }

    .award_img{
        width:441px;
        height: 248px;
    }

    .contact_img{
        display:block;
    }

    .contact_input_container{
        background-image: none;
    }}